#Pandas Resampling and DataFrame.

In this tutorial we will learn about resampling methods and panda's powerful object, the data frame.

First we need to install quandl libraries because they are not built in on Google Collaboratory.

In [5]:
!pip install quandl

Requirement already satisfied: quandl in /usr/local/lib/python3.7/dist-packages (3.6.1)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.1.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.7.0)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from quandl) (0.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2018.9)

Now we can import the library.
In order to access the api of quandl we need to create an account, then we'll be given a personal api key that we must type as in the following example.

In [35]:
import quandl
import pandas as pd
quandl.ApiConfig.api_key = 'eFcRyenxCvSXDajK2pFi'   #<----- there goes our api key.
#Our Quandl account must be mail authenticated.

Now we can easily create a time series with the data of a desired equity, we will choose apple, for this we call the get function from quandl as shown below. We can see the data types of every object:

In [19]:
aapl_table = quandl.get('WIKI/AAPL')
print("Type from aapl_table: ", type(aapl_table))
aapl = aapl_table['Adj. Close']['2017']            
print("Type from aapl: ",type(aapl))
print (aapl)

Type from aapl_table:  <class 'pandas.core.frame.DataFrame'>
Type from aapl:  <class 'pandas.core.series.Series'>
Date
2017-01-03    114.715378
2017-01-04    114.586983
2017-01-05    115.169696
2017-01-06    116.453639
2017-01-09    117.520300
                 ...
2017-12-22    175.010000
2017-12-26    170.570000
2017-12-27    170.600000
2017-12-28    171.080000
2017-12-29    169.230000
Name: Adj. Close, Length: 249, dtype: float64

We can see above that aapl_table is a data frame with multible columns. In order to make a series out of this we select a specific column, in this case the Adj Close column in the year 2017. Doing so it is automatically defined as a series.

From the series we can specify the data of a determined date to be shown.

In [14]:
print (aapl['2017-3']) #Show the data of the third month

Date
2017-03-01    138.657681
2017-03-02    137.834404
2017-03-03    138.647762
2017-03-06    138.211326
2017-03-07    138.389868
2017-03-08    137.874080
2017-03-09    137.556672
2017-03-10    138.012946
2017-03-13    138.072460
2017-03-14    137.864161
2017-03-15    139.322254
2017-03-16    139.550391
2017-03-17    138.856061
2017-03-20    140.314154
2017-03-21    138.707276
2017-03-22    140.274478
2017-03-23    139.778528
2017-03-24    139.500796
2017-03-27    139.738852
2017-03-28    142.635200
2017-03-29    142.952608
2017-03-30    142.764147
2017-03-31    142.496334
Name: Adj. Close, dtype: float64

In [20]:
print (aapl['2017-3-3']) #Show the data of the third month and third day.

138.64776215275

We can also do indexing as with python lists.

In [21]:
aapl['2017-2':'2017-4']   #from month two to month 4

Date
2017-02-01    127.159749
2017-02-02    126.942467
2017-02-03    127.485673
2017-02-06    128.680728
2017-02-07    129.905412
                 ...
2017-04-24    142.476496
2017-04-25    143.369205
2017-04-26    142.487208
2017-04-27    142.625281
2017-04-28    142.486415
Name: Adj. Close, Length: 61, dtype: float64

Pandas series have two special functions that allow us to access the firt elements or the last elements of the series.

In [22]:
print (aapl.head())    #The first or last 5 elements are shown by default.
print (aapl.tail(10))

Date
2017-01-03    114.715378
2017-01-04    114.586983
2017-01-05    115.169696
2017-01-06    116.453639
2017-01-09    117.520300
Name: Adj. Close, dtype: float64
Date
2017-12-15    173.87
2017-12-18    176.42
2017-12-19    174.54
2017-12-20    174.35
2017-12-21    175.01
2017-12-22    175.01
2017-12-26    170.57
2017-12-27    170.60
2017-12-28    171.08
2017-12-29    169.23
Name: Adj. Close, dtype: float64

Resampling is the action of showing the same data in a different presentation. For example, if we have the data of a stock per day, we can resample it to do it per month.

In [25]:
#Let's do it with our Apple data

by_month = aapl.resample('M').mean()               #The .mean() specifies how we can the daily data to be resampled into monthly data.
print (by_month)

Date
2017-01-31    118.093136
2017-02-28    132.456268
2017-03-31    139.478802
2017-04-30    141.728436
2017-05-31    151.386305
2017-06-30    147.233064
2017-07-31    147.706190
2017-08-31    158.856375
2017-09-30    157.606500
2017-10-31    157.811627
2017-11-30    172.214500
2017-12-31    171.893100
Freq: M, Name: Adj. Close, dtype: float64

The arguments for the resample method are quite simple, we can make almost any kind of frequency with a nf format, where n is an integer and f is D(Day), M(Month), or Y(Year).
Some examples are shown below.

In [26]:
three_day = aapl.resample('3D').mean()
two_week  = aapl.resample('2W').mean()

We have different options besides mean() too.

In [29]:
std = aapl.resample('W').std()    # standard deviation
last_day = aapl.resample('M').agg(lambda x: x[-1])    # last day value

print(std)
print(last_day)

Date
2017-01-08    0.852296
2017-01-15    0.303965
2017-01-22    0.107097
2017-01-29    1.027976
2017-02-05    3.953127
2017-02-12    1.054342
2017-02-19    0.969247
2017-02-26    0.248701
2017-03-05    1.425250
2017-03-12    0.319693
2017-03-19    0.745266
2017-03-26    0.659058
2017-04-02    1.340247
2017-04-09    0.539305
2017-04-16    0.890443
2017-04-23    0.732013
2017-04-30    0.385246
2017-05-07    0.983818
2017-05-14    1.480644
2017-05-21    2.250808
2017-05-28    0.253079
2017-06-04    1.178505
2017-06-11    2.598342
2017-06-18    1.593357
2017-06-25    0.555420
2017-07-02    1.104805
2017-07-09    0.665854
2017-07-16    1.694205
2017-07-23    0.523784
2017-07-30    1.611054
2017-08-06    3.836757
2017-08-13    2.272546
2017-08-20    1.821903
2017-08-27    1.155790
2017-09-03    1.055026
2017-09-10    1.599521
2017-09-17    1.226206
2017-09-24    3.081331
2017-10-01    1.487222
2017-10-08    0.867246
2017-10-15    0.497624
2017-10-22    2.190114
2017-10-29    2.852625
2017-11-05    2.349930
2017-11-12    0.693752
2017-11-19    1.821639
2017-11-26    2.351374
2017-12-03    1.785083
2017-12-10    0.299377
2017-12-17    0.816474
2017-12-24    0.810697
2017-12-31    0.795110
Freq: W-SUN, Name: Adj. Close, dtype: float64
Date
2017-01-31    119.851150
2017-02-28    135.880362
2017-03-31    142.496334
2017-04-30    142.486415
2017-05-31    152.142689
2017-06-30    143.438008
2017-07-31    148.248489
2017-08-31    164.000000
2017-09-30    154.120000
2017-10-31    169.040000
2017-11-30    171.850000
2017-12-31    169.230000
Freq: M, Name: Adj. Close, dtype: float64

These are some other series functions:

In [31]:
#Difference between consecutive elements.
print (last_day.diff())

#Percentage change between consecutive elements.
print (last_day.pct_change())

Date
2017-01-31          NaN
2017-02-28    16.029211
2017-03-31     6.615972
2017-04-30    -0.009919
2017-05-31     9.656274
2017-06-30    -8.704681
2017-07-31     4.810482
2017-08-31    15.751511
2017-09-30    -9.880000
2017-10-31    14.920000
2017-11-30     2.810000
2017-12-31    -2.620000
Freq: M, Name: Adj. Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.106251
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.016623
2017-12-31   -0.015246
Freq: M, Name: Adj. Close, dtype: float64

You can see above that there are some NaN (Not a number). We can fill or remove them in different ways.

In [33]:
#Replacing NaN values with 0.
print (last_day.fillna(0))

#Replacing NaN values with the backward fill method.
print (last_day.fillna(method='bfill'))

#Just getting rid of the NaN values.
print (last_day.dropna())

Date
2017-01-31    119.851150
2017-02-28    135.880362
2017-03-31    142.496334
2017-04-30    142.486415
2017-05-31    152.142689
2017-06-30    143.438008
2017-07-31    148.248489
2017-08-31    164.000000
2017-09-30    154.120000
2017-10-31    169.040000
2017-11-30    171.850000
2017-12-31    169.230000
Freq: M, Name: Adj. Close, dtype: float64
Date
2017-01-31    119.851150
2017-02-28    135.880362
2017-03-31    142.496334
2017-04-30    142.486415
2017-05-31    152.142689
2017-06-30    143.438008
2017-07-31    148.248489
2017-08-31    164.000000
2017-09-30    154.120000
2017-10-31    169.040000
2017-11-30    171.850000
2017-12-31    169.230000
Freq: M, Name: Adj. Close, dtype: float64
Date
2017-01-31    119.851150
2017-02-28    135.880362
2017-03-31    142.496334
2017-04-30    142.486415
2017-05-31    152.142689
2017-06-30    143.438008
2017-07-31    148.248489
2017-08-31    164.000000
2017-09-30    154.120000
2017-10-31    169.040000
2017-11-30    171.850000
2017-12-31    169.230000
Freq: M, Name: Adj. Close, dtype: float64

#Now we will talk about **Data Frames**
It is a collection of Series objects, each of which may contain different data types. It is very useful to know that all methods that apply to series apply to DataFrames too.

The most common way of creating a data frame is passing it a dictionary.

In [37]:
dict = {'AAPL': [143.5,  144.09, 142.73, 144.18, 143.77],
        'GOOG': [898.7,  911.71, 906.69, 918.59, 926.99],
        'IBM':  [155.58, 153.67, 152.36, 152.94, 153.49]}
dates = pd.date_range('2017-07-03', periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = dates)
print (df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

It is very important to know that every column of a dataframe is a series itself.

In [38]:
print(df['AAPL'])
print(type(df['AAPL']))

2017-07-03    143.50
2017-07-04    144.09
2017-07-05    142.73
2017-07-06    144.18
2017-07-07    143.77
Freq: D, Name: AAPL, dtype: float64
<class 'pandas.core.series.Series'>

We can access just some columns of the data frame.

In [41]:
print(df[['AAPL','IBM']])

              AAPL     IBM
2017-07-03  143.50  155.58
2017-07-04  144.09  153.67
2017-07-05  142.73  152.36
2017-07-06  144.18  152.94
2017-07-07  143.77  153.49

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [43]:
print(df.loc['2017-07-04':'2017-07-06',['AAPL']])

              AAPL
2017-07-04  144.09
2017-07-05  142.73
2017-07-06  144.18

Or with iloc[].

In [45]:
print(df.iloc[1:4,[0]])

              AAPL
2017-07-04  144.09
2017-07-05  142.73
2017-07-06  144.18

As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [47]:
df['Difference between apple and ibm']=df['AAPL']-df['IBM']
print(df)

              AAPL    GOOG     IBM  Difference between apple and ibm
2017-07-03  143.50  898.70  155.58                            -12.08
2017-07-04  144.09  911.71  153.67                             -9.58
2017-07-05  142.73  906.69  152.36                             -9.63
2017-07-06  144.18  918.59  152.94                             -8.76
2017-07-07  143.77  926.99  153.49                             -9.72

We can merge series or data frames with concat function.

In [59]:
price = [143.73, 145.83, 143.68, 144.02, 143.5]
tsla = pd.Series(price,index=dates)
tsla.name='TSLA'
new_df=pd.concat([df,tsla],axis=1)
print(new_df)

              AAPL    GOOG     IBM  Difference between apple and ibm    TSLA
2017-07-03  143.50  898.70  155.58                            -12.08  143.73
2017-07-04  144.09  911.71  153.67                             -9.58  145.83
2017-07-05  142.73  906.69  152.36                             -9.63  143.68
2017-07-06  144.18  918.59  152.94                             -8.76  144.02
2017-07-07  143.77  926.99  153.49                             -9.72  143.50